codecarbon==3.0.1
datasets==3.4.1
emoji==2.14.1
matplotlib==3.10.3
nltk==3.9.1
numpy==2.2.6
pandas==2.2.3
Pillow==11.2.1
pytorch_lightning==2.5.1
scikit_learn==1.6.1
torch==2.6.0
torchmetrics==1.7.1
transformers==4.49.0
wandb==0.19.11
streamlit==1.45.1
gdown==5.2.0